# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# --- macOS ---
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# --- IDEs (VS Code & PyCharm) ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.iws
out/

# --- Project Specific ---
# If you save the HIBP mock data locally for testing
mock_data.json
results.json
